<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Time Products</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
    <script>
        const socket = io();

        socket.on('updateProducts', (products) => {
            updateProductList(products);
        });

        function updateProductList(products) {
            const productList = document.getElementById('product-list');
            productList.innerHTML = '';
            products.forEach(product => {
                const listItem = document.createElement('li');
                listItem.textContent = `${product.titulo} - $${product.precio}`;
                productList.appendChild(listItem);
            });
        }
    </script>
</head>
<body>
    <h1>Real Time Products</h1>
    <ul id="product-list">
        {{#each products}}
            <li>{{this.titulo}} - ${{this.precio}}</li>
        {{/each}}
    </ul>
</body>
</html>
